body {
    background-color: #f8f9fa;
    /* Cor clara para o fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {

    background-color: #ffffff;
    /* Fundo branco para o container */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    padding: 20px;
    max-width: 350px;
    width: 100%;
}
.dashboard {
    max-width: 800px!important;
}
.btn {
    margin-top: 10px;
}
.btn-dark.disabled {
    pointer-events: none; /* Impede cliques */
    opacity: 0.6; /* Diminui a opacidade para indicar inatividade */
    cursor: not-allowed; /* Indica visualmente que não é clicável */
}
